<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <name>Document</name>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width:255px;
            background: #efefef;
        }
        label{
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p  v-if="errors.length">
                <b>Please correct the following errors</b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>
            <label>name : </label>
            <input type="text" name="name" ref="name" v-model="name">
            <label>address :  </label>
            <textarea name='address' v-model="address" ref="address"></textarea>
            
            <br><br>

            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                 <input type="button" @click="updatePost(idEditPost)" value="UPDATE">
                 <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadPost)" style="margin-top:5px;">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
             </div>
        
         
        </form>

        <br><br>

        <table border=1> 
            <tr v-for="post of posts">
              <td>
                <img width=100 :src="post.photo ? domain + post.photo : 'https://dummyimage.com/600x400/000/fff'" alt="">
              </td>
              <td>
                <b>name : </b> {{ post.name }} <br>
                <b>address : </b> {{ post.address }} <br>
              </td>
              <td>
                <button @click="editPost(post)">Edit</button>
                <button @click="removePost(post.id)">Hapus</button>
                <button @click="uploadPhoto(post)">Upload Foto</button>
              </td>
            </tr>
         </table>
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script>
        var vm = new Vue({
           el: '#app',
           data: {
                name: '',
                address: '',
                errors: [],
                domain: "http://127.0.0.1:8000",
                posts: [],
                buttonStatus: 'submit',
                idEditPost: null,
                idUploadPost: null,
           },
           methods: {
               validationForm : function(){
                   this.errors = []

                   if(this.name.length < 5){
                       this.errors.push('name minimal 5 karakter')
                       this.$refs.name.focus()
                       
                   }
                   if(this.address.length > 100){
                    this.errors.push('address tidak boleh lebih dari 100 karakter')
                       this.$refs.address.focus()
                   }
                   if (this.errors === 0){
                       alert('Terimakasih anda telah mengisi data dengan benar')
                   }

               },

               clearForm: function(){
                   this.name = ''
                   this.address = ''
                   this.buttonStatus = 'submit'
               },
                
               getPosts: function(){
                   const config = {
                       method : "get",
                       url : `http://demo-api-vue.sanbercloud.com/api/member`
                   }
                   axios(config)
                        .then( (response) => {
                            console.log(response.data.members)
                            this.posts = response.data.members
                        })
                        .catch( (error) => {
                            console.log(error);
                        })
               },
               
               submitForm: function(){
                   this.validationForm()
                   if(this.errors.length === 0){
                       let formData = new FormData()
                       formData.append('name', this.name)
                       formData.append('address', this.address)

                       const config = {
                       method : "post",
                       url : `http://demo-api-vue.sanbercloud.com/api/member`,
                       data : formData
                        }
                        axios(config)
                            .then( (response) => {
                                this.clearForm()
                                this.getPosts()
                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                console.log(error);
                            })
                   }
               },
               
               removePost: function(id){
                   const config = {
                       method: "post",
                       url : `http://demo-api-vue.sanbercloud.com/api/member/1?_method=DELETE`,
                       params: {_method : "DELETE"}
                   }
                   axios(config)
                            .then( (response) => {
                                this.getPosts()
                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                console.log(error);
                            })
               },

               editPost: function(post){
                    this.name = post.name
                    this.address = post.address
                    this.buttonStatus = "update"
                    this.idEditPost = post.id
               },

               updatePost: function(id){
                   this.validationForm()

                   if(this.errors.length === 0){
                       let formData = new FormData()
                       formData.append('name', this.name)
                       formData.append('address', this.address)

                       const config = {
                            method: "post",
                            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {_method : "PUT"},
                            data: formData
                        }

                        axios(config)
                            .then( (response) => {
                                this.clearForm()
                                this.getPosts()
                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                console.log(error);
                            })

                   }

               },

               uploadPhoto : function(post){
                   this.name = post.name
                   this.address = post.address
                   this.buttonStatus = 'upload'
                   this.idUploadPost = post.id

               },

               submitPhoto: function(id){
                    let file = this.$refs.photo.files[0]

                    let formData = new FormData()
                    formData.append('photo', file)

                    let config = {
                        method: "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data : formData
                    }

                    axios(config)
                            .then( (response) => {
                                this.clearForm()
                                this.getPosts()
                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                console.log(error);
                            })
               }
               
           },
           created(){
               this.getPosts()
           }

           

           
        })
       </script>
</body>
</html>