<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        
        <input type="text" v-model="namaBaru">
        <button v-on:click="tambahNama">add</button>
        <ul>
            <li v-for="nama in users">
                {{ nama }}
                <button >Edit</button>
                <button v-on:click="hapus(nama)">Delete</button>
            </li>
            
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
       namaBaru: '',
       users: ['Muhammad Iqbal Mubarok', 'Ruby Purwanti', 'Faqih Muhammad'],
      },
      
      methods : {
        tambahNama() {
                    if (this.namaBaru) {
                        this.users.push(this.namaBaru);
                        this.namaBaru = '';
                    }
        },
        hapus(nama){
            var yakin = confirm("beneran ?");
            if (yakin) {
                this.users.pop(this.nama);
            }
        }
      }
  })
  </script>


</body>
</html>